{% extends "base.html" %}
{% block content %}
	{% if admin %}
		<form action='/users/add' method='get'>
			<div>Full Name: <input type="text" name="name"/></div>
     		<div>Phone Number: <input type="text" name="phone"/></div>
        	<div>Phone worker? <input type="checkbox" name="pw" /></div>
        	<div>Can text? <input type="checkbox" name="text" /></div>
        	<div>PAB member? <input type="checkbox" name="PAB" /></div>
        	<input type='submit' value='submit' />
        </form>
    {% endif %}
{% endblock %}

{% block title %}Manage{% endblock %}
